# Python
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs
screens/.overlay_log.txt

# Runtime cache
srboli_data/gallery_cache/
srboli_data/metadata_cache/

# PyInstaller temporary files
build/
.srboli_overlay_data.json
.overlay_log.txt
